In [2]:
import urllib.request
url = 'https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/ML0101ENv3/labs/cars_clus.csv'
filename = 'cars_clus.csv'
df=urllib.request.urlretrieve(url, filename)
import pandas as pd
pdf = pd.read_csv(filename,na_values = "$null$")
pdf

,manufact,model,sales,resale,type,price,engine_s,horsepow,wheelbas,width,length,curb_wgt,fuel_cap,mpg,lnsales,partition
0,Acura,Integra,16.919,16.360,0.0,21.50,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,2.828,0.0
1,Acura,TL,39.384,19.875,0.0,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,3.673,0.0
2,Acura,CL,14.114,18.225,0.0,NaN,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,2.647,0.0
3,Acura,RL,8.588,29.725,0.0,42.00,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,2.150,0.0
4,Audi,A4,20.397,22.255,0.0,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,3.015,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,Volvo,V70,17.531,NaN,0.0,28.80,2.4,168.0,104.9,69.3,186.2,3.259,17.9,25.0,2.864,0.0
155,Volvo,C70,3.493,NaN,0.0,45.50,2.3,236.0,104.9,71.5,185.7,3.601,18.5,23.0,1.251,0.0
156,Volvo,S80,18.969,NaN,0.0,36.00,2.9,201.0,109.9,72.1,189.8,3.600,21.1,24.0,2.943,0.0
157,NaN,newCar,NaN,NaN,NaN,21.50,1.5,76.0,106.3,67.9,175.0,2.932,11.9,46.0,NaN,1.0
158,NaN,newTruck,NaN,NaN,NaN,34.20,3.5,167.0,109.8,75.2,188.4,4.508,17.2,26.0,NaN,1.0

In [3]:
pdf.isnull().sum()

manufact      2
model         0
sales         2
resale       38
type          2
price         2
engine_s      1
horsepow      1
wheelbas      1
width         1
length        1
curb_wgt      2
fuel_cap      1
mpg           3
lnsales       2
partition     0
dtype: int64

# Parte 1

In [3]:
#la funciÃ³n dropna se utiliza para eliminar filas con valores faltantes (NaN). El argumento subset especifica que se deben considerar las columnas 'manufact' y 'price' para buscar valores faltantes. El argumento how='any' significa que si alguna de las columnas especificadas tiene un valor faltante en una fila, esa fila se eliminarÃ¡
print(pdf.shape)
pdf1=pdf.dropna(subset=['manufact','price'],how='any')
print(pdf1.shape)

(159, 16)
(155, 16)

In [4]:
#dropna se usa para eliminar todas las filas que contengan un valor faltante en cualquier columna
pdf2=pdf.dropna()
print(pdf2.shape)
pdf2

(117, 16)

,manufact,model,sales,resale,type,price,engine_s,horsepow,wheelbas,width,length,curb_wgt,fuel_cap,mpg,lnsales,partition
0,Acura,Integra,16.919,16.360,0.0,21.50,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,2.828,0.0
1,Acura,TL,39.384,19.875,0.0,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,3.673,0.0
3,Acura,RL,8.588,29.725,0.0,42.00,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,2.150,0.0
4,Audi,A4,20.397,22.255,0.0,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,3.015,0.0
5,Audi,A6,18.780,23.555,0.0,33.95,2.8,200.0,108.7,76.1,192.0,3.561,18.5,22.0,2.933,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,Volkswagen,Golf,9.761,11.425,0.0,14.90,2.0,115.0,98.9,68.3,163.3,2.767,14.5,26.0,2.278,0.0
146,Volkswagen,Jetta,83.721,13.240,0.0,16.70,2.0,115.0,98.9,68.3,172.3,2.853,14.5,26.0,4.427,0.0
147,Volkswagen,Passat,51.102,16.725,0.0,21.20,1.8,150.0,106.4,68.5,184.1,3.043,16.4,27.0,3.934,0.0
148,Volkswagen,Cabrio,9.569,16.575,0.0,19.99,2.0,115.0,97.4,66.7,160.4,3.079,13.7,26.0,2.259,0.0
149,Volkswagen,GTI,5.596,13.760,0.0,17.50,2.0,115.0,98.9,68.3,163.3,2.762,14.6,26.0,1.722,0.0

In [5]:
pdf

,manufact,model,sales,resale,type,price,engine_s,horsepow,wheelbas,width,length,curb_wgt,fuel_cap,mpg,lnsales,partition
0,Acura,Integra,16.919,16.360,0.0,21.50,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,2.828,0.0
1,Acura,TL,39.384,19.875,0.0,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,3.673,0.0
2,Acura,CL,14.114,18.225,0.0,NaN,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,2.647,0.0
3,Acura,RL,8.588,29.725,0.0,42.00,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,2.150,0.0
4,Audi,A4,20.397,22.255,0.0,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,3.015,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,Volvo,V70,17.531,NaN,0.0,28.80,2.4,168.0,104.9,69.3,186.2,3.259,17.9,25.0,2.864,0.0
155,Volvo,C70,3.493,NaN,0.0,45.50,2.3,236.0,104.9,71.5,185.7,3.601,18.5,23.0,1.251,0.0
156,Volvo,S80,18.969,NaN,0.0,36.00,2.9,201.0,109.9,72.1,189.8,3.600,21.1,24.0,2.943,0.0
157,NaN,newCar,NaN,NaN,NaN,21.50,1.5,76.0,106.3,67.9,175.0,2.932,11.9,46.0,NaN,1.0
158,NaN,newTruck,NaN,NaN,NaN,34.20,3.5,167.0,109.8,75.2,188.4,4.508,17.2,26.0,NaN,1.0

# Parte 2

In [6]:
pdf.columns

Index(['manufact', 'model', 'sales', 'resale', 'type', 'price', 'engine_s',
       'horsepow', 'wheelbas', 'width', 'length', 'curb_wgt', 'fuel_cap',
       'mpg', 'lnsales', 'partition'],
      dtype='object')

In [8]:
#La funciÃ³n groupby se utiliza para agrupar los datos en funciÃ³n de los valores Ãºnicos en la columna 'manufact', y luego describe() se aplica a esas agrupaciones para calcular estadÃ­sticas descriptivas como la media, la desviaciÃ³n estÃ¡ndar, el valor mÃ­nimo, el valor mÃ¡ximo y los percentiles para cada grupo
pdf[['manufact','price']].groupby(by='manufact').describe()

              price                                                   \
              count       mean        std     min       25%      50%
manufact
Acura           3.0  30.633333  10.430884  21.500  24.95000  28.4000
Audi            3.0  39.980000  19.709406  23.990  28.97000  33.9500
BMW             3.0  33.096667   5.960791  26.990  30.19500  33.4000
Buick           4.0  26.781250   4.218359  21.975  24.46875  26.5925
Cadillac        5.0  40.254000   5.903326  31.010  39.66500  39.8950
Chevrolet       9.0  20.022778  10.560628   9.235  13.96000  18.8900
Chrysler        6.0  23.430833   4.918479  16.480  20.44125  23.3700
Dodge          11.0  24.213636  15.465640  12.640  18.81000  19.5650
Ford           11.0  21.047273   8.039550  12.050  14.67500  21.4100
Honda           5.0  20.277000   6.158827  12.885  15.35000  20.5500
Hyundai         3.0  12.165667   2.668957   9.699  10.74900  11.7990
Infiniti        1.0  29.465000        NaN  29.465  29.46500  29.4650
Jaguar          1.0  42.800000        NaN  42.800  42.80000  42.8000
Jeep            3.0  20.991667   6.241267  14.460  18.04000  21.6200
Lexus           6.0  44.055000  11.380114  31.505  35.40500  42.0550
Lincoln         3.0  41.690000   2.285016  39.080  40.87000  42.6600
Mercedes-Benz   9.0  52.916667  20.792036  31.750  38.90000  41.6000
Mercury         6.0  20.748333   4.334054  16.240  17.16375  20.7725
Mitsubishi      7.0  22.167429   5.938983  13.987  18.20200  22.5270
Nissan          7.0  22.360714   5.509982  13.499  19.14000  22.7990
Oldsmobile      6.0  25.622833   7.216952  18.145  19.74000  24.7475
Plymouth        4.0  22.642500  13.807332  12.640  15.22000  17.4650
Pontiac         6.0  22.949167   2.336945  19.720  21.62375  22.7100
Porsche         3.0  62.473333  18.330767  41.430  56.22500  71.0200
Saab            2.0  29.610000   4.963890  26.100  27.85500  29.6100
Saturn          5.0  14.271000   3.051625  10.685  12.53500  14.2900
Subaru          2.0  21.395000   1.838478  20.095  20.74500  21.3950
Toyota          9.0  21.982889  12.029930  11.528  16.87500  17.5180
Volkswagen      6.0  17.698333   2.433684  14.900  16.10000  17.1000
Volvo           6.0  30.933333   8.409915  23.400  25.17500  28.1500


                    75%     max
manufact
Acura          35.20000  42.000
Audi           47.97500  62.000
BMW            36.15000  38.900
Buick          28.90500  31.965
Cadillac       44.47500  46.225
Chevrolet      19.39000  45.705
Chrysler       27.37875  29.185
Dodge          21.91000  69.725
Ford           24.56500  36.135
Honda          26.00000  26.600
Hyundai        13.39900  14.999
Infiniti       29.46500  29.465
Jaguar         42.80000  42.800
Jeep           24.25750  26.895
Lexus          52.08000  60.105
Lincoln        42.99500  43.330
Mercedes-Benz  69.70000  85.500
Mercury        22.58125  27.560
Mitsubishi     25.22350  31.807
Nissan         26.32400  29.299
Oldsmobile     30.03475  36.229
Plymouth       24.88750  43.000
Pontiac        24.92125  25.635
Porsche        72.99500  74.970
Saab           31.36500  33.120
Saturn         15.01000  18.835
Subaru         22.04500  22.695
Toyota         22.36800  51.728
Volkswagen     19.36750  21.200
Volvo          34.20000  45.500

# Parte 3

In [7]:
# pdf.dtypes se utiliza para mostrar los tipos de datos de cada columna en el DataFrame 
pdf.dtypes

manufact      object
model         object
sales        float64
resale       float64
type         float64
price        float64
engine_s     float64
horsepow     float64
wheelbas     float64
width        float64
length       float64
curb_wgt     float64
fuel_cap     float64
mpg          float64
lnsales      float64
partition    float64
dtype: object

In [9]:
# assign en un DataFrame de Pandas para agregar dos nuevas columnas, 'Valor_nuevo' y 'Valor_nuevo2', al DataFrame pdf.Estas columnas se calculan utilizando funciones lambda que multiplican la columna existente 'price' por un factor.
pdf=pdf.assign(Valor_nuevo= lambda x: x['price']*1.05,\
               Valor_nuevo2= lambda x: x['price']*1.10)
pdf

,manufact,model,sales,resale,type,price,engine_s,horsepow,wheelbas,width,length,curb_wgt,fuel_cap,mpg,lnsales,partition,Valor_nuevo,Valor_nuevo2
0,Acura,Integra,16.919,16.360,0.0,21.50,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,2.828,0.0,22.5750,23.650
1,Acura,TL,39.384,19.875,0.0,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,3.673,0.0,29.8200,31.240
2,Acura,CL,14.114,18.225,0.0,NaN,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,2.647,0.0,NaN,NaN
3,Acura,RL,8.588,29.725,0.0,42.00,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,2.150,0.0,44.1000,46.200
4,Audi,A4,20.397,22.255,0.0,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,3.015,0.0,25.1895,26.389
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,Volvo,V70,17.531,NaN,0.0,28.80,2.4,168.0,104.9,69.3,186.2,3.259,17.9,25.0,2.864,0.0,30.2400,31.680
155,Volvo,C70,3.493,NaN,0.0,45.50,2.3,236.0,104.9,71.5,185.7,3.601,18.5,23.0,1.251,0.0,47.7750,50.050
156,Volvo,S80,18.969,NaN,0.0,36.00,2.9,201.0,109.9,72.1,189.8,3.600,21.1,24.0,2.943,0.0,37.8000,39.600
157,NaN,newCar,NaN,NaN,NaN,21.50,1.5,76.0,106.3,67.9,175.0,2.932,11.9,46.0,NaN,1.0,22.5750,23.650
158,NaN,newTruck,NaN,NaN,NaN,34.20,3.5,167.0,109.8,75.2,188.4,4.508,17.2,26.0,NaN,1.0,35.9100,37.620

In [10]:
# la funciÃ³n loc de Pandas para seleccionar filas en un DataFrame pdf que cumplan con ciertas condiciones.
pdf.loc[(pdf['sales']>10) &(pdf['price']>10),:]

,manufact,model,sales,resale,type,price,engine_s,horsepow,wheelbas,width,length,curb_wgt,fuel_cap,mpg,lnsales,partition,Valor_nuevo,Valor_nuevo2
0,Acura,Integra,16.919,16.360,0.0,21.50,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,2.828,0.0,22.5750,23.650
1,Acura,TL,39.384,19.875,0.0,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,3.673,0.0,29.8200,31.240
4,Audi,A4,20.397,22.255,0.0,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,3.015,0.0,25.1895,26.389
5,Audi,A6,18.780,23.555,0.0,33.95,2.8,200.0,108.7,76.1,192.0,3.561,18.5,22.0,2.933,0.0,35.6475,37.345
7,BMW,323i,19.747,NaN,0.0,26.99,2.5,170.0,107.3,68.4,176.0,3.179,16.6,26.1,2.983,0.0,28.3395,29.689
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,Volkswagen,Beetle,49.463,NaN,0.0,15.90,2.0,115.0,98.9,67.9,161.1,2.769,14.5,26.0,3.901,0.0,16.6950,17.490
151,Volvo,S40,16.957,NaN,0.0,23.40,1.9,160.0,100.5,67.6,176.6,2.998,15.8,25.0,2.831,0.0,24.5700,25.740
153,Volvo,S70,15.245,NaN,0.0,27.50,2.4,168.0,104.9,69.3,185.9,3.208,17.9,25.0,2.724,0.0,28.8750,30.250
154,Volvo,V70,17.531,NaN,0.0,28.80,2.4,168.0,104.9,69.3,186.2,3.259,17.9,25.0,2.864,0.0,30.2400,31.680
156,Volvo,S80,18.969,NaN,0.0,36.00,2.9,201.0,109.9,72.1,189.8,3.600,21.1,24.0,2.943,0.0,37.8000,39.600

In [13]:
# el mÃ©todo query en un DataFrame de Pandas para seleccionar filas que cumplan con ciertas condiciones
pdf.query("sales >10 and price >10")

,manufact,model,sales,resale,type,price,engine_s,horsepow,wheelbas,width,length,curb_wgt,fuel_cap,mpg,lnsales,partition,Valor_nuevo,Valor_nuevo2
0,Acura,Integra,16.919,16.360,0.0,21.50,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,2.828,0.0,22.5750,23.650
1,Acura,TL,39.384,19.875,0.0,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,3.673,0.0,29.8200,31.240
4,Audi,A4,20.397,22.255,0.0,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,3.015,0.0,25.1895,26.389
5,Audi,A6,18.780,23.555,0.0,33.95,2.8,200.0,108.7,76.1,192.0,3.561,18.5,22.0,2.933,0.0,35.6475,37.345
7,BMW,323i,19.747,NaN,0.0,26.99,2.5,170.0,107.3,68.4,176.0,3.179,16.6,26.1,2.983,0.0,28.3395,29.689
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,Volkswagen,Beetle,49.463,NaN,0.0,15.90,2.0,115.0,98.9,67.9,161.1,2.769,14.5,26.0,3.901,0.0,16.6950,17.490
151,Volvo,S40,16.957,NaN,0.0,23.40,1.9,160.0,100.5,67.6,176.6,2.998,15.8,25.0,2.831,0.0,24.5700,25.740
153,Volvo,S70,15.245,NaN,0.0,27.50,2.4,168.0,104.9,69.3,185.9,3.208,17.9,25.0,2.724,0.0,28.8750,30.250
154,Volvo,V70,17.531,NaN,0.0,28.80,2.4,168.0,104.9,69.3,186.2,3.259,17.9,25.0,2.864,0.0,30.2400,31.680
156,Volvo,S80,18.969,NaN,0.0,36.00,2.9,201.0,109.9,72.1,189.8,3.600,21.1,24.0,2.943,0.0,37.8000,39.600

# Parte 4

In [16]:
pdf[['manufact','horsepow','mpg']].groupby(by='manufact').describe()

              horsepow                                                       \
                 count        mean        std    min     25%    50%     75%
manufact
Acura              4.0  200.000000  40.620192  140.0  192.50  217.5  225.00
Audi               3.0  220.000000  81.853528  150.0  175.00  200.0  255.00
BMW                3.0  185.333333  13.279056  170.0  181.50  193.0  193.00
Buick              4.0  206.250000  26.575365  175.0  197.50  205.0  213.75
Cadillac           5.0  256.000000  32.480764  200.0  255.00  275.0  275.00
Chevrolet          9.0  171.111111  79.442502   55.0  120.00  175.0  180.00
Chrysler           6.0  194.833333  49.949641  132.0  164.25  184.0  239.75
Dodge             11.0  199.545455  90.260028  120.0  156.50  175.0  216.00
Ford              11.0  170.090909  45.929195  107.0  134.50  170.0  205.00
Honda              5.0  160.400000  45.445572  106.0  135.00  146.0  205.00
Hyundai            3.0  126.666667  30.287511   92.0  116.00  140.0  144.00
Infiniti           1.0  227.000000        NaN  227.0  227.00  227.0  227.00
Jaguar             1.0  240.000000        NaN  240.0  240.00  240.0  240.00
Jeep               3.0  168.333333  41.932485  120.0  155.00  190.0  192.50
Lexus              6.0  245.833333  38.783588  210.0  221.25  227.5  275.00
Lincoln            3.0  263.333333  43.684475  215.0  245.00  275.0  287.50
Mercedes-Benz      9.0  232.222222  48.126858  185.0  190.00  215.0  275.00
Mercury            6.0  163.833333  36.361610  125.0  132.00  161.5  192.50
Mitsubishi         7.0  165.142857  33.052628  113.0  149.50  161.0  186.50
Nissan             7.0  169.000000  28.454642  126.0  162.50  170.0  170.00
Oldsmobile         6.0  190.000000  38.600518  150.0  158.75  187.5  208.75
Plymouth           4.0  166.750000  58.122715  132.0  132.00  141.0  175.75
Pontiac            6.0  185.000000  20.248457  150.0  177.50  190.0  198.75
Porsche            3.0  272.333333  47.920072  217.0  258.50  300.0  300.00
Saab               2.0  177.500000  10.606602  170.0  173.75  177.5  181.25
Saturn             5.0  119.600000  18.662797  100.0  100.00  124.0  137.00
Subaru             2.0  165.000000   0.000000  165.0  165.00  165.0  165.00
Toyota             9.0  160.666667  39.990624  120.0  133.00  142.0  194.00
Volkswagen         6.0  120.833333  14.288690  115.0  115.00  115.0  115.00
Volvo              6.0  182.166667  30.452696  160.0  162.00  168.0  192.75

                       mpg                                                 \
                 max count       mean       std   min    25%   50%    75%
manufact
Acura          225.0   4.0  25.250000  2.500000  22.0  24.25  25.5  26.50
Audi           310.0   3.0  23.333333  3.214550  21.0  21.50  22.0  24.50
BMW            193.0   3.0  24.966667  1.059874  24.0  24.40  24.8  25.45
Buick          240.0   4.0  24.250000  0.957427  23.0  23.75  24.5  25.00
Cadillac       275.0   5.0  20.600000  3.130495  15.0  22.00  22.0  22.00
Chevrolet      345.0   9.0  28.444444  6.875884  22.0  25.00  27.0  27.00
Chrysler       253.0   6.0  24.500000  1.643168  23.0  23.25  24.0  25.50
Dodge          450.0  10.0  20.100000  4.771443  15.0  16.25  18.0  24.00
Ford           240.0  11.0  22.818182  4.490394  16.0  20.00  23.0  24.50
Honda          210.0   5.0  25.000000  4.847680  19.0  23.00  24.0  27.00
Hyundai        148.0   3.0  27.666667  3.055050  25.0  26.00  27.0  29.00
Infiniti       227.0   1.0  25.000000       NaN  25.0  25.00  25.0  25.00
Jaguar         240.0   1.0  21.000000       NaN  21.0  21.00  21.0  21.00
Jeep           195.0   3.0  18.666667  1.527525  17.0  18.00  19.0  19.50
Lexus          300.0   6.0  20.833333  2.994439  15.0  21.00  21.5  22.75
Lincoln        300.0   3.0  19.333333  3.785939  15.0  18.00  21.0  21.50
Mercedes-Benz  302.0   9.0  23.444444  3.086710  20.0  20.00  25.0  26.00
Mercury        210.0   6.0  23.666667  4.589844  18.0  21.00  22.5  27.00
Mitsubishi     210.0   7.0  22.857143  3.933979  18.0  20.50  22.0  24.50
Nissan         222.0   7.0  22.285714  4.535574  18.0  18.50  21.0  25.00
Oldsmobile     250.0   5.0  23.000000  3.082207  19.0  22.00  22.0  25.00
Plymouth       253.0   4.0  25.250000  3.500000  21.0  23.25  25.5  27.50
Pontiac        205.0   6.0  24.833333  1.329160  23.0  24.25  25.0  25.00
Porsche        300.0   3.0  22.000000  1.000000  21.0  21.50  22.0  22.50
Saab           185.0   2.0  23.000000  0.000000  23.0  23.00  23.0  23.00
Saturn         137.0   5.0  30.400000  2.792848  27.0  28.00  31.0  33.00
Subaru         165.0   2.0  24.500000  0.707107  24.0  24.25  24.5  24.75
Toyota         230.0   9.0  25.222222  5.309844  15.0  23.00  26.0  27.00
Volkswagen     150.0   6.0  26.166667  0.408248  26.0  26.00  26.0  26.00
Volvo          236.0   6.0  24.500000  0.836660  23.0  24.25  25.0  25.00


                max
manufact
Acura          28.0
Audi           27.0
BMW            26.1
Buick          25.0
Cadillac       22.0
Chevrolet      45.0
Chrysler       27.0
Dodge          29.0
Ford           30.0
Honda          32.0
Hyundai        31.0
Infiniti       25.0
Jaguar         21.0
Jeep           20.0
Lexus          23.0
Lincoln        22.0
Mercedes-Benz  27.0
Mercury        30.0
Mitsubishi     30.0
Nissan         30.0
Oldsmobile     27.0
Plymouth       29.0
Pontiac        27.0
Porsche        23.0
Saab           23.0
Saturn         33.0
Subaru         25.0
Toyota         33.0
Volkswagen     27.0
Volvo          25.0

In [18]:
pdf

,manufact,model,sales,resale,type,price,engine_s,horsepow,wheelbas,width,length,curb_wgt,fuel_cap,mpg,lnsales,partition,Valor_nuevo,Valor_nuevo2
0,Acura,Integra,16.919,16.360,0.0,21.50,1.8,140.0,101.2,67.3,172.4,2.639,13.2,28.0,2.828,0.0,22.5750,23.650
1,Acura,TL,39.384,19.875,0.0,28.40,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,3.673,0.0,29.8200,31.240
2,Acura,CL,14.114,18.225,0.0,NaN,3.2,225.0,106.9,70.6,192.0,3.470,17.2,26.0,2.647,0.0,NaN,NaN
3,Acura,RL,8.588,29.725,0.0,42.00,3.5,210.0,114.6,71.4,196.6,3.850,18.0,22.0,2.150,0.0,44.1000,46.200
4,Audi,A4,20.397,22.255,0.0,23.99,1.8,150.0,102.6,68.2,178.0,2.998,16.4,27.0,3.015,0.0,25.1895,26.389
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,Volvo,V70,17.531,NaN,0.0,28.80,2.4,168.0,104.9,69.3,186.2,3.259,17.9,25.0,2.864,0.0,30.2400,31.680
155,Volvo,C70,3.493,NaN,0.0,45.50,2.3,236.0,104.9,71.5,185.7,3.601,18.5,23.0,1.251,0.0,47.7750,50.050
156,Volvo,S80,18.969,NaN,0.0,36.00,2.9,201.0,109.9,72.1,189.8,3.600,21.1,24.0,2.943,0.0,37.8000,39.600
157,NaN,newCar,NaN,NaN,NaN,21.50,1.5,76.0,106.3,67.9,175.0,2.932,11.9,46.0,NaN,1.0,22.5750,23.650
158,NaN,newTruck,NaN,NaN,NaN,34.20,3.5,167.0,109.8,75.2,188.4,4.508,17.2,26.0,NaN,1.0,35.9100,37.620

In [35]:
t=pd.pivot(data=pdf, index='manufact',columns='model',values='price')
t

model,3000GT,300M,323i,328i,4Runner,528i,9-3,9-5,A4,A6,...,V40,V70,Villager,Viper,Voyager,Windstar,Wrangler,Xterra,newCar,newTruck
manufact,,,,,,,,,,,,,,,,,,,,,
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.5,34.2
Acura,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Audi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.99,33.95,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BMW,NaN,NaN,26.99,33.4,NaN,38.9,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Buick,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cadillac,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Chevrolet,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Chrysler,NaN,29.185,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Dodge,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,69.725,NaN,NaN,NaN,NaN,NaN,NaN
Ford,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,21.41,NaN,NaN,NaN,NaN
Honda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Hyundai,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Infiniti,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Jaguar,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Jeep,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,14.46,NaN,NaN,NaN
Lexus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Lincoln,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Mercedes-Benz,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Mercury,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,22.51,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Mitsubishi,25.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Nissan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.799,NaN,NaN
Oldsmobile,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Plymouth,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,18.85,NaN,NaN,NaN,NaN,NaN
Pontiac,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Porsche,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Saab,NaN,NaN,NaN,NaN,NaN,NaN,26.1,33.12,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Saturn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Subaru,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Toyota,NaN,NaN,NaN,NaN,22.288,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Volkswagen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Volvo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,24.4,28.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
t = t.reset_index()  # Restablecer el Ã­ndice
t['model'] = t.index  # Agregar 'model' como una columna adicional
pd.melt(t, id_vars=['model'], var_name='X', value_name='value')

      model         X value
0         0     index     0
1         1     index     1
2         2     index     2
3         3     index     3
4         4     index     4
...     ...       ...   ...
4955     26  newTruck   NaN
4956     27  newTruck   NaN
4957     28  newTruck   NaN
4958     29  newTruck   NaN
4959     30  newTruck   NaN

[4960 rows x 3 columns]