In [7]:
#Instalacion de libreria
!pip install anonymizedf

Collecting anonymizedf
  Downloading anonymizedf-1.0.1-py3-none-any.whl (7.0 kB)
Requirement already satisfied: pandas in c:\users\lautaro\anaconda3\envs\entornov\lib\site-packages (from anonymizedf) (2.1.1)
Collecting faker (from anonymizedf)
  Obtaining dependency information for faker from https://files.pythonhosted.org/packages/18/d6/314868f573b09d9f0590a2c2f7dd7463153d3dab1049f0ba5e7008776d91/Faker-19.13.0-py3-none-any.whl.metadata
  Downloading Faker-19.13.0-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: python-dateutil>=2.4 in c:\users\lautaro\anaconda3\envs\entornov\lib\site-packages (from faker->anonymizedf) (2.8.2)
Requirement already satisfied: numpy>=1.23.2 in c:\users\lautaro\anaconda3\envs\entornov\lib\site-packages (from pandas->anonymizedf) (1.26.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\lautaro\anaconda3\envs\entornov\lib\site-packages (from pandas->anonymizedf) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\lautaro\anaconda3\envs\entornov\lib\site-packages (from pandas->anonymizedf) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\lautaro\anaconda3\envs\entornov\lib\site-packages (from python-dateutil>=2.4->faker->anonymizedf) (1.16.0)
Downloading Faker-19.13.0-py3-none-any.whl (1.7 MB)
   ---------------------------------------- 0.0/1.7 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.7 MB ? eta -:--:--
   -- ------------------------------------- 0.1/1.7 MB 1.3 MB/s eta 0:00:02
   ------ --------------------------------- 0.3/1.7 MB 2.2 MB/s eta 0:00:01
   ------------ --------------------------- 0.6/1.7 MB 3.2 MB/s eta 0:00:01
   ----------------------- ---------------- 1.0/1.7 MB 4.5 MB/s eta 0:00:01
   ----------------------------- ---------- 1.3/1.7 MB 4.8 MB/s eta 0:00:01
   -------------------------------------- - 1.7/1.7 MB 5.3 MB/s eta 0:00:01
   ---------------------------------------- 1.7/1.7 MB 5.0 MB/s eta 0:00:00
Installing collected packages: faker, anonymizedf
Successfully installed anonymizedf-1.0.1 faker-19.13.0

In [8]:
#importar librerias 
import warnings; warnings.filterwarnings('ignore')
import pandas as pd
from anonymizedf.anonymizedf import anonymize

In [14]:
# Extracion de datos
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/CoderContenidos/Data.Engineering/main/Semana%208/Datos_Microdesafio_Semana8_DE.csv",sep=';')
df.head(12)

,Pais,Comisionado,Reduccion_CO2,Incrmento_P,Inversion_arboles,Fecha,Telefono
0,Argentina,Carlos Veroes,Si,Si,Si,08/07/2022,23467698
1,Colombia,Sofia Andrade,No,No,Si,12/06/2022,76587899
2,Chile,Cristina Valdivia,Si,Si,Si,15/07/2022,76593749
3,Bolivia,Pedro Carlos,No,No,No,01/09/2022,65746474
4,Paraguay,Juan Paraguas,No,Si,Si,04/06/2022,83447474
5,Venezuela,Andres Calamaro,Si,Si,No,03/05/2022,76847383
6,Uruguay,Fernando Tatial,No,No,Si,04/04/2022,13434453
7,Brasil,Gabriel Toeras,Si,Si,No,12/06/2022,37374344
8,Ecuador,Juan Vera,No,No,No,14/05/2022,47477654
9,Peru,Andres Porto,No,No,No,13/05/2022,57737373
10,EEUU,Jennifer Laurence,Si,Si,Si,01/04/2022,84574737
11,Canada,John white,No,Si,Si,04/01/2022,83873734

In [15]:

# Preparar el dataframe
an = anonymize(df)

In [16]:

type(an)

anonymizedf.anonymizedf.anonymize

In [17]:

!pip install -q Faker

In [18]:
#se importa 
from faker import Faker
#se cra la instancia para ser utilizado
fake = Faker()

In [20]:
#ejemplos
fake.country_code()
fake.city()
fake.coordinate()
fake.company_email()
fake.json()

'[{"name": "Kelly Jenkins", "residency": "23297 Wright Place\\nSouth Jennifer, DE 24308"}, {"name": "David Carlson", "residency": "869 Williams Mountains Apt. 222\\nEast Michelefort, MN 35421"}, {"name": "Angela Roberts", "residency": "USCGC Shelton\\nFPO AA 57065"}, {"name": "Ashlee Sloan", "residency": "8358 Megan Roads Suite 850\\nSharonbury, IN 42348"}, {"name": "Raven Mccoy", "residency": "9342 Reynolds Courts\\nWest Markville, IL 81512"}, {"name": "Margaret Walker", "residency": "5354 Brittany Crescent Suite 297\\nKatelynside, DC 52052"}, {"name": "Michael Brown", "residency": "USNS Baker\\nFPO AP 81752"}, {"name": "Dawn Koch", "residency": "USS Young\\nFPO AA 75859"}, {"name": "Jeanne Bass", "residency": "825 Alexander Row Apt. 723\\nMillerport, NE 91278"}, {"name": "David Ramirez", "residency": "060 Murillo Fords\\nWintersburgh, OK 09692"}]'

In [21]:
#se hace la anonimacion
fake_df = (
    #se pasa el objeto anonimizado "an"
    an
    .fake_names("Comisionado", chaining=True)
    .fake_dates("Fecha", chaining=True)
    .fake_whole_numbers("Telefono", chaining=True)
    .show_data_frame()
)
fake_df

,Pais,Comisionado,Reduccion_CO2,Incrmento_P,Inversion_arboles,Fecha,Telefono,Fake_Comisionado,Fake_Fecha,Fake_Telefono
0,Argentina,Carlos Veroes,Si,Si,Si,08/07/2022,23467698,Guy Henry,2013-12-19,68950882
1,Colombia,Sofia Andrade,No,No,Si,12/06/2022,76587899,Maurice Cooper-Gill,2020-01-08,30797105
2,Chile,Cristina Valdivia,Si,Si,Si,15/07/2022,76593749,Clifford Collins,2005-04-14,49278557
3,Bolivia,Pedro Carlos,No,No,No,01/09/2022,65746474,Roy Gibbs-Green,1978-02-15,45874253
4,Paraguay,Juan Paraguas,No,Si,Si,04/06/2022,83447474,Kathryn Walker,1996-09-01,72997272
5,Venezuela,Andres Calamaro,Si,Si,No,03/05/2022,76847383,Ms Sharon Brooks,2016-09-08,71631139
6,Uruguay,Fernando Tatial,No,No,Si,04/04/2022,13434453,Leah Brown-Martin,2022-03-14,79772318
7,Brasil,Gabriel Toeras,Si,Si,No,12/06/2022,37374344,Paula Burns,2020-01-08,67023463
8,Ecuador,Juan Vera,No,No,No,14/05/2022,47477654,Mrs Claire Spencer,1982-11-18,77059305
9,Peru,Andres Porto,No,No,No,13/05/2022,57737373,Gemma Ward,1985-07-26,20818520
10,EEUU,Jennifer Laurence,Si,Si,Si,01/04/2022,84574737,Abigail Dixon,2011-09-02,17222668
11,Canada,John white,No,Si,Si,04/01/2022,83873734,Sam Bennett,2010-11-14,31659669
12,Mexico,Andres Fernandez,Si,Si,No,08/05/2022,64634746,Declan Barry,1995-11-22,35069710
13,Costa Rica,Pedro Urrutia,No,No,Si,09/06/2022,14544643,Miss Lydia Sutton,1994-09-05,50881489
14,Jamaica,Michael Sophit,No,No,No,26/07/2022,75638664,Phillip Adams,2008-10-15,66843459

In [22]:
#cambio las columnas originales por las fake y le cambio de nombre
df_final=fake_df[['Pais ','Fake_Comisionado','Reduccion_CO2','Incrmento_P','Inversion_arboles',
                  'Fake_Fecha','Fake_Telefono']]
df_final.columns=['Pais', 'Comisionado', 'Reduccion_CO2', 'Incrmento_P',
                   'Inversion_arboles', 'Fecha', 'Telefono',]
df_final

,Pais,Comisionado,Reduccion_CO2,Incrmento_P,Inversion_arboles,Fecha,Telefono
0,Argentina,Guy Henry,Si,Si,Si,2013-12-19,68950882
1,Colombia,Maurice Cooper-Gill,No,No,Si,2020-01-08,30797105
2,Chile,Clifford Collins,Si,Si,Si,2005-04-14,49278557
3,Bolivia,Roy Gibbs-Green,No,No,No,1978-02-15,45874253
4,Paraguay,Kathryn Walker,No,Si,Si,1996-09-01,72997272
5,Venezuela,Ms Sharon Brooks,Si,Si,No,2016-09-08,71631139
6,Uruguay,Leah Brown-Martin,No,No,Si,2022-03-14,79772318
7,Brasil,Paula Burns,Si,Si,No,2020-01-08,67023463
8,Ecuador,Mrs Claire Spencer,No,No,No,1982-11-18,77059305
9,Peru,Gemma Ward,No,No,No,1985-07-26,20818520
10,EEUU,Abigail Dixon,Si,Si,Si,2011-09-02,17222668
11,Canada,Sam Bennett,No,Si,Si,2010-11-14,31659669
12,Mexico,Declan Barry,Si,Si,No,1995-11-22,35069710
13,Costa Rica,Miss Lydia Sutton,No,No,Si,1994-09-05,50881489
14,Jamaica,Phillip Adams,No,No,No,2008-10-15,66843459

In [30]:

!pip install -q python-dotenv

In [33]:
# cargar archivos de environment
from dotenv import load_dotenv
import os
load_dotenv() # Cargar data de archivo .env
host = os.getenv("DB_HOST")
user = os.getenv("DB_USER")
port=os.getenv("DB_PORT")
data_base=os.getenv("DATABASE")
password=os.getenv('DB_PASSWORD')

In [34]:
import psycopg2
try:
    conn = psycopg2.connect(
        host=host,
        dbname=data_base,
        user=user,
        password=password,
        port=port
    )
    print("Connected to Redshift successfully!")
except Exception as e:
    print("Unable to connect to Redshift.")
    print(e)

Connected to Redshift successfully!

In [35]:
#crea la tabla 
from psycopg2.extras import execute_values

def cargar_en_redshift(conn, table_name, dataframe):
    dtypes= dataframe.dtypes
    cols= list(dtypes.index )
    tipos= list(dtypes.values)
    type_map = {'int64': 'INT','float64': 'FLOAT','object': 'VARCHAR(50)'}
    sql_dtypes = [type_map[str(dtype)] for dtype in tipos]
    # Definir formato SQL VARIABLE TIPO_DATO
    column_defs = [f"{name} {data_type}" for name, data_type in zip(cols, sql_dtypes)]
    # Combine column definitions into the CREATE TABLE statement
    table_schema = f"""
        CREATE TABLE IF NOT EXISTS {table_name} (
            {', '.join(column_defs)}
        );
        """
    # Crear la tabla
    cur = conn.cursor()
    cur.execute(table_schema)
    # Generar los valores a insertar
    values = [tuple(x) for x in dataframe.to_numpy()]
    # Definir el INSERT
    insert_sql = f"INSERT INTO {table_name} ({', '.join(cols)}) VALUES %s"
    # Execute the transaction to insert the data
    cur.execute("BEGIN")
    execute_values(cur, insert_sql, values)
    cur.execute("COMMIT")
    print('Proceso terminado')

In [38]:
#cargar los datos a la db
cargar_en_redshift(conn=conn, table_name='POLITICAS_2050', dataframe=df_final)

Proceso terminado