# Psycopg2

In [1]:
import psycopg2
url='localhost'#"data-engineer-cluster.cyhh5bfevlmn.us-east-1.redshift.amazonaws"
data_base="TO1"
user="postgres"
with open("C:/Users/Windows/Downloads/pwd_postgre.txt",'r') as f:
    pwd= f.read()

try:
    conn = psycopg2.connect(
        host=url,
        dbname=data_base,
        user=user,
        password=pwd,
        port='5432' # 5439
    )
    print("Connected to Postgre successfully!")
    
except Exception as e:
    print("Unable to connect to Postgre.")
    print(e)

Connected to Postgre successfully!

In [2]:
import pandas as pd
ruta_archivos='./Tablas/'
product = pd.read_csv(ruta_archivos+'product.csv')
productreview = pd.read_csv(ruta_archivos+'productreview.csv')
productmodelproductdescriptionculture = pd.read_csv(ruta_archivos+'productmodelproductdescriptionculture.csv')
productdescription = pd.read_csv(ruta_archivos+'productdescription.csv')
salesorderdetail = pd.read_csv(ruta_archivos+'salesorderdetail.csv')
productcategory = pd.read_csv(ruta_archivos+'productcategory.csv')
productsubcategory = pd.read_csv(ruta_archivos+'productsubcategory.csv')
salesperson = pd.read_csv(ruta_archivos+'salesperson.csv')
salesorderheader = pd.read_csv(ruta_archivos+'salesorderheader.csv')
salesterritory = pd.read_csv(ruta_archivos+'salesterritory.csv')
countryregioncurrency = pd.read_csv(ruta_archivos+'countryregioncurrency.csv')
currencyrate = pd.read_csv(ruta_archivos+'currencyrate.csv')

In [3]:
product.dtypes

productid                  int64
name                      object
productnumber             object
makeflag                  object
finishedgoodsflag         object
color                     object
safetystocklevel           int64
reorderpoint               int64
standardcost             float64
listprice                float64
size                      object
sizeunitmeasurecode       object
weightunitmeasurecode     object
weight                   float64
daystomanufacture          int64
productline               object
class                     object
style                     object
productsubcategoryid     float64
productmodelid           float64
sellstartdate             object
sellenddate               object
discontinueddate         float64
rowguid                   object
modifieddate              object
dtype: object

El `type_map` lo puedes hacer tan sofisticado como quieras como esto:

```python
type_map = {
    'int64': 'INT',
    'float64': 'FLOAT',
    'bool': 'BOOLEAN',
    'datetime64[ns]': 'TIMESTAMP',
    'timedelta64[ns]': 'INTERVAL',
    'complex128': 'VARCHAR(50)',
    'object': 'VARCHAR(50)',
    'category': 'VARCHAR(50)',
}
```

In [5]:
from psycopg2.extras import execute_values

def cargar_en_bd(conn, table_name, dataframe):
    dtypes= dataframe.dtypes
    cols= list(dtypes.index )
    tipos= list(dtypes.values)
    type_map = {'int64': 'INT','float64': 'FLOAT','object': 'VARCHAR(50)'}
    sql_dtypes = [type_map[str(dtype)] for dtype in tipos]
    # Definir formato SQL VARIABLE TIPO_DATO
    column_defs = [f"{name} {data_type}" for name, data_type in zip(cols, sql_dtypes)]
    # Combine column definitions into the CREATE TABLE statement
    table_schema = f"""
        CREATE TABLE IF NOT EXISTS {table_name} (
            {', '.join(column_defs)}
        );
        """
    # Crear la tabla
    cur = conn.cursor()
    cur.execute(table_schema)
    # Generar los valores a insertar
    values = [tuple(x) for x in dataframe.to_numpy()]
    # Definir el INSERT
    insert_sql = f"INSERT INTO {table_name} ({', '.join(cols)}) VALUES %s"
    # Execute the transaction to insert the data
    cur.execute("BEGIN")
    execute_values(cur, insert_sql, values)
    cur.execute("COMMIT")
    print('Proceso terminado')

# Probando que funcione

In [6]:
cargar_en_bd(conn=conn, table_name='product', dataframe=product)

Proceso terminado

In [7]:
cargar_en_bd(conn=conn, table_name='currencyrate', dataframe=currencyrate)

Proceso terminado

In [8]:
conn.close()

# SQLAlchemy

In [2]:
import pandas as pd
from sqlalchemy import create_engine, text
#import psycopg2
pd.options.display.max_rows = 10
host="localhost"
database="TO1"
username="postgres"
with open("C:/Users/Windows/Downloads/pwd_postgre.txt",'r') as f:
    pwd= f.read()
port_id= '5432'

In [3]:
engine= create_engine(f"postgresql://{username}:{pwd}@localhost:{port_id}/{database}")
engine

Engine(postgresql://postgres:***@localhost:5432/TO1)

In [11]:
ruta_archivos='./Tablas/'
df = pd.read_csv(ruta_archivos+'product.csv').to_sql('product', engine, if_exists='replace', index=False)
df = pd.read_csv(ruta_archivos+'productreview.csv').to_sql('productreview', engine, if_exists='replace', index=False)
df = pd.read_csv(ruta_archivos+'productmodelproductdescriptionculture.csv').to_sql('productmodelproductdescriptionculture', engine, if_exists='replace', index=False)
df = pd.read_csv(ruta_archivos+'productdescription.csv').to_sql('productdescription', engine, if_exists='replace', index=False)
df = pd.read_csv(ruta_archivos+'salesorderdetail.csv').to_sql('salesorderdetail', engine, if_exists='replace', index=False)
df = pd.read_csv(ruta_archivos+'productcategory.csv').to_sql('productcategory', engine, if_exists='replace', index=False)
df = pd.read_csv(ruta_archivos+'productsubcategory.csv').to_sql('productsubcategory', engine, if_exists='replace', index=False)
df = pd.read_csv(ruta_archivos+'salesperson.csv').to_sql('salesperson', engine, if_exists='replace', index=False)
df = pd.read_csv(ruta_archivos+'salesorderheader.csv').to_sql('salesorderheader', engine, if_exists='replace', index=False)
df = pd.read_csv(ruta_archivos+'salesterritory.csv').to_sql('salesterritory', engine, if_exists='replace', index=False)
df = pd.read_csv(ruta_archivos+'countryregioncurrency.csv').to_sql('countryregioncurrency', engine, if_exists='replace', index=False)
df = pd.read_csv(ruta_archivos+'currencyrate.csv').to_sql('currencyrate', engine, if_exists='replace', index=False)
# funcion para ejecutar comandos en python
def runQuery(sql):
    result = engine.connect().execute((text(sql)))
    return pd.DataFrame(result.fetchall(), columns=result.keys())

In [12]:
query1="""SELECT product.productid, name, round(avg(rating), 2) as avgrating, count(*) as num_ratings
FROM product inner join productreview
ON productreview.productid = product.productid
GROUP BY product.productid, name
ORDER BY avgrating DESC"""
runQuery(query1)

   productid                    name avgrating  num_ratings
0        798   Road-550-W Yellow, 40      5.00            1
1        709  Mountain Bike Socks, M      5.00            1
2        937       HL Mountain Pedal      3.00            2

In [13]:
query2="""
SELECT "name",
       description
FROM productdescription pd
INNER JOIN productmodelproductdescriptionculture pm ON pm.productdescriptionid=pd.productdescriptionid
INNER JOIN product ON product.productmodelid = pm.productmodelid
WHERE productid IN (798,709,937)
  AND cultureid = 'en'
"""
runQuery(query2)

                     name                                        description
0   Road-550-W Yellow, 40  Same technology as all of our Road series bike...
1       HL Mountain Pedal      Stainless steel; designed to shed mud easily.
2  Mountain Bike Socks, M  Combination of natural and synthetic fibers st...

# mysql-connector-python

In [24]:
!pip install -q mysql-connector-python

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: C:\Users\Windows\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [4]:
hostname= 'localhost'#'sae-sqlserver.database.windows.net'
#database= 'Semana6_DE'
db= 'bde'
username= 'root'
with open("C:/Users/Windows/Downloads/pwd_mysql.txt",'r') as f:
    pwd= f.read()
port_id= '3306' # 5432

In [5]:
import mysql.connector
from mysql.connector import Error

try:
    connection = mysql.connector.connect(host='localhost',
                                         database=db,
                                         user=username,
                                         password=pwd)
    if connection.is_connected():
        db_Info = connection.get_server_info()
        print("Connectado a MySQL Server version ", db_Info)
        cursor = connection.cursor()
        cursor.execute("select database();")
        record = cursor.fetchone()
        print("Conectado a la BD: ", record)

except Error as e:
    print("Error problema conectando con MySQL", e)

Connectado a MySQL Server version  8.0.32
Conectado a la BD:  ('bde',)

In [6]:
import pandas as pd
from mysql.connector import Error

def execute_query(query):
    try:
        connection = mysql.connector.connect(
            host='localhost',
            database=db,
            user=username,
            password=pwd
        )
        if connection.is_connected():
            db_Info = connection.get_server_info()
            print("Conectado a MySQL Server version", db_Info)
            cursor = connection.cursor()
            cursor.execute(query)
            records = cursor.fetchall()
            # Obtener nombres de columnas 
            column_names = [desc[0] for desc in cursor.description]
            # Crear el DataFrame 
            df = pd.DataFrame(records, columns=column_names)
            cursor.close()
            connection.close()

            return df

    except Error as e:
        print("Error conectando a MySQL", e)

In [9]:
execute_query("SELECT * FROM autores")

Conectado a MySQL Server version 8.0.32

  TituloId NombreAutor ApellidosAutor TelefonoAutor
0        3       David          Saenz      99897867
1        8         Ana           Ruiz      99897466
2        2      Julian          Perez      99897174
3        1      Andres       Calamaro      99876869
4        4       Cidys       Castillo     998987453
5        5       Pedro         Molina      99891768

# Pymsql

In [ ]:
!pip install pymssql

Collecting pymssql
  Downloading pymssql-2.2.7-cp310-cp310-win_amd64.whl (1.5 MB)
     ---------------------------------------- 1.5/1.5 MB 10.5 MB/s eta 0:00:00
Installing collected packages: pymssql
Successfully installed pymssql-2.2.7

# Pymysql

In [10]:
hostname= 'sae-sqlserver.database.windows.net'
#database= 'Semana6_DE'
db= 'SAEDB'
username= 'saedb.admin'
with open("C:/Users/Windows/Downloads/pwd_sqlserver_ing.txt",'r') as f:
    pwd= f.read()
port_id= '1433' # 5432

In [11]:
import pymssql
engine = pymssql.connect(server=hostname, user=username, password=pwd, database=db)
engine

In [12]:
pymssql.connect?

Docstring:
Constructor for creating a connection to the database. Returns a
Connection object.

:param server: database host
:type server: string
:param user: database user to connect as. Default value: None.
:type user: string
:param password: user's password. Default value: None.
:type password: string
:param database: the database to initially connect to
:type database: string
:param timeout: query timeout in seconds, default 0 (no timeout)
:type timeout: int
:param login_timeout: timeout for connection and login in seconds, default 60
:type login_timeout: int
:param charset: character set with which to connect to the database
:type charset: string
:keyword as_dict: whether rows should be returned as dictionaries instead of tuples.
:type as_dict: boolean
:keyword appname: Set the application name to use for the connection
:type appname: string
:keyword port: the TCP port to use to connect to the server
:type port: string
:keyword conn_properties: SQL queries to send to the server upon connection
                          establishment. Can be a string or another kind
                          of iterable of strings
:keyword autocommit: Whether to use default autocommiting mode or not
:type autocommit: boolean
:keyword tds_version: TDS protocol version to use.
:type tds_version: string
Type:      builtin_function_or_method

In [13]:
# Funcion completa
def david_query(connection,query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        #return result
        cursor = engine.cursor()
        cursor.execute(query)
        columnas = [description[0] for description in cursor.description]
        #print(columnas)
        df=pd.DataFrame(result,columns=columnas)
        return df
    except Error as e:
        print(f"Error '{e}' ha ocurrido")

# Mostrar todas las tablas

In [14]:
query='SELECT table_name FROM information_schema.tables'
df=david_query(engine,query)
df

                                          table_name
0                                          vacancies
1                       market_survey_vacancy_report
2                           unemployed_results_audit
3                                    unemployed_pdis
4                                  scheduling_status
..                                               ...
103        unemployed_occupational_information_audit
104  flyaway_app_agencia_empleo_reportes_api_history
105                            remissions_placements
106                      unemployed_schedule_details
107                                    schedule_type

[108 rows x 1 columns]

In [15]:
pd.set_option('display.max_rows', 50)
df[df['table_name'].str.contains("unemployed")]

                                          table_name
2                           unemployed_results_audit
3                                    unemployed_pdis
11     unemployed_complete_incomplete_resumes_report
41                         unemployed_result_details
59               unemployed_psychosocial_information
71                       unemployed_ability_profiles
75                                        unemployed
78         unemployed_academic_formative_information
80                            unemployed_attachments
82                             unemployed_bulk_files
84                              unemployed_languages
85                        unemployed_bulk_file_lines
88               unemployed_occupational_information
92                            unemployed_assignments
94                        tracking_unemployed_report
95                     unemployed_assignment_details
98                                unemployed_results
99                                  unemployed_audit
100        unemployed_psychosocial_information_audit
101                             unemployed_schedules
102  unemployed_academic_formative_information_audit
103        unemployed_occupational_information_audit
106                      unemployed_schedule_details

In [16]:
query1='Select * from unemployed_pdis'
df=david_query(engine,query1)
print(df.shape)
df

(258, 20)

,id,unemployed_id,counselor_name,orientation_at,occupational_professional_profile,contact_network,platform_profile,hours_looking_job,skills,weaknesses,commitments,notes,created_by,updated_by,created_in,updated_in,created_at,updated_at,deleted_at,enabled
0,084ae813-eb7f-4beb-a76b-00b6403f2d5c,8ec6e267-0518-4558-bba5-02b6fcf5b9e6,CESAR AUGUSTO MONROY BARON,2022-10-25 18:52:01.677,"Lorem ipsum dolor sit amet, consectetur adipis...",codas,"bibendum sem sagittis. Aenean augue erat, cond...",50.0,"Lorem ipsum dolor sit amet, consectetur adipis...","Lorem ipsum dolor sit amet, consectetur adipis...",string,string,df8f25ea-8267-4d91-bef8-7a9724bc7875,None,94adfb03-c026-4936-9db1-669a56c49700,None,2022-10-25 18:52:01.780,None,None,True
1,e2051521-adb1-4e52-ba0d-0223f5e19fa3,8ec6e267-0518-4558-bba5-02b6fcf5b9e6,CESAR AUGUSTO MONROY BARON,2022-10-20 16:59:38.207,"Lorem ipsum dolor sit amet, consectetur adipis...",codas,"bibendum sem sagittis. Aenean augue erat, cond...",50.0,"Lorem ipsum dolor sit amet, consectetur adipis...","Lorem ipsum dolor sit amet, consectetur adipis...",string,string,df8f25ea-8267-4d91-bef8-7a9724bc7875,None,94adfb03-c026-4936-9db1-669a56c49700,None,2022-10-20 16:59:38.307,None,None,True
2,a6b3fbfb-98b1-4403-a4fc-02c1b85b4a46,63a28ceb-dba9-4fc4-bd67-e8cc1234b0e9,MARIA FERNANDA LÓPEZ AGUDELO,2022-10-28 07:57:13.817,"En el ambiente laboral, el individualismo se e...","En el ambiente laboral, el individualismo se e...","En el ambiente laboral, el individualismo se e...",444.0,Cuando reconocemos que formamos parte de un eq...,Cuando reconocemos que formamos parte de un eq...,Cuando reconocemos que formamos parte de un eq...,"En el ambiente laboral, el individualismo se e...",aca333ec-1ddd-4a0c-89fa-763f00bd56b6,None,7c8f415e-516c-4cf9-ad3d-2eac48a9e089,None,2022-10-28 07:57:13.930,None,None,True
3,ed876876-e42e-43b3-9edd-02d0a1ae7cef,8ec6e267-0518-4558-bba5-02b6fcf5b9e6,CESAR AUGUSTO MONROY BARON,2022-10-20 17:17:47.770,"Lorem ipsum dolor sit amet, consectetur adipis...",codas,"bibendum sem sagittis. Aenean augue erat, cond...",50.0,"Lorem ipsum dolor sit amet, consectetur adipis...","Lorem ipsum dolor sit amet, consectetur adipis...",string,string,df8f25ea-8267-4d91-bef8-7a9724bc7875,None,94adfb03-c026-4936-9db1-669a56c49700,None,2022-10-20 17:17:47.883,None,None,True
4,8da581df-0533-4e6b-9b9b-02fa959ca916,5a4e5d55-7ad5-4c9a-afa0-e0582efcc729,MARIA FERNANDA LÓPEZ AGUDELO,2022-12-07 13:52:11.210,"Releases 1.x through 3.x were called ""io.js"" a...","Releases 1.x through 3.x were called ""io.js"" a...","Releases 1.x through 3.x were called ""io.js"" a...",33.0,"Releases 1.x through 3.x were called ""io.js"" a...","Releases 1.x through 3.x were called ""io.js"" a...","Releases 1.x through 3.x were called ""io.js"" a...","Releases 1.x through 3.x were called ""io.js"" a...",aca333ec-1ddd-4a0c-89fa-763f00bd56b6,None,7c8f415e-516c-4cf9-ad3d-2eac48a9e089,None,2022-12-07 13:52:11.247,None,None,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253,7ee01794-8bee-40b1-85eb-fa57923fb658,46ec62cf-f88d-4dbf-aaea-35e74937853d,MARIA FERNANDA LÓPEZ AGUDELO,2022-10-28 09:39:55.157,NO TENER LA CAPACIDAD DE ENTENDER LO QUE PIENS...,NO TENER LA CAPACIDAD DE ENTENDER LO QUE PIENS...,NO TENER LA CAPACIDAD DE ENTENDER LO QUE PIENS...,5.0,NO TENER LA CAPACIDAD DE ENTENDER LO QUE PIENS...,NO TENER LA CAPACIDAD DE ENTENDER LO QUE PIENS...,NO TENER LA CAPACIDAD DE ENTENDER LO QUE PIENS...,NO TENER LA CAPACIDAD DE ENTENDER LO QUE PIENS...,aca333ec-1ddd-4a0c-89fa-763f00bd56b6,None,7c8f415e-516c-4cf9-ad3d-2eac48a9e089,None,2022-10-28 09:39:55.247,None,None,True
254,c6a8b3f1-c9c5-49d5-b29f-fa8baf47bfcf,8ec6e267-0518-4558-bba5-02b6fcf5b9e6,CESAR AUGUSTO MONROY BARON,2022-10-25 21:35:54.860,"Lorem ipsum dolor sit amet, consectetur adipis...",codas,"bibendum sem sagittis. Aenean augue erat, cond...",50.0,"Lorem ipsum dolor sit amet, consectetur adipis...","Lorem ipsum dolor sit amet, consectetur adipis...",string,string,df8f25ea-8267-4d91-bef8-7a9724bc7875,None,94adfb03-c026-4936-9db1-669a56c49700,None,2022-10-25 21:35:54.960,None,None,True
255,07bb2be3-6ffa-4647-8f1a-fae0bc6ba7a2,142b8482-93ab-449c-8700-a2d3f2b2e00f,HUGO GONZALEZ,2022-10-07 10:10:42.683,None,None,None,NaN,None,None,None,None,08b1dbd3-6ecd-4793-b1ac-059a48a2dd7f,None,d8a6472d-651c-4488-8abe-00a88b9f2ca7,None,2022-10-07 10:10:42.777,None,None,True
256,30336e0e-1acf-4658-b33b-fc14369582a4,8ec6e267-0518-4558-bba5-02b6fcf5b9e6,CESAR AUGUSTO MONROY BARON,2022-10-20 17:02:18.547,"Lorem ipsum dolor sit amet, consectetur adipis...",codas,"bibendum sem sagittis. Aenean augue erat, cond...",50.0,"Lorem ipsum dolor sit amet, consectetur adipis...","Lorem ipsum dolor sit amet, consectetur adipis...",string,string,df8f25ea-8267-4d91-bef8-7a9724bc7875,None,94adfb03-c026-4936-9db1-669a56c49700,None,2022-10-20 17:02:18.643,None,None,True
257,c74a7d60-9766-4e16-a6d0-ffdf6308e3db,8ec6e267-0518-4558-bba5-02b6fcf5b9e6,CESAR AUGUSTO MONROY BARON,2022-10-26 11:01:02.647,"Lorem ipsum dolor sit amet, consectetur adipis...",codas,"bibendum sem sagittis. Aenean augue erat, cond...",50.0,"Lorem ipsum dolor sit amet, consectetur adipis...","Lorem ipsum dolor sit amet, consectetur adipis...",string,string,df8f25ea-8267-4d91-bef8-7a9724bc7875,None,94adfb03-c026-4936-9db1-669a56c49700,None,2022-10-26 11:01:02.763,None,None,True

In [17]:
conn.close()

In [18]:
cursor.close()

True